.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    height: 80px;
  }
img {
    width: 100px;
    height: 80%;
    margin-top: 5px;
    /* position: fixed; */
    float: left;
}

h2 {
    float: left;
    margin-top: 0.5em;
}
h5 {
    margin-top: 1em;
}