img {
    width: 100%;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    position: relative;
    left: 0.5em;
}
.btn-group {
    /* position:absolute; */
    /* top: 40px; */
}
.card {
    height: 250px;
    position: relative;
    display:grid;
    grid-template-rows: 70% 30%;
}
.card-text {
    position: relative;
    right: 4em;
    margin-bottom: 3em;
    /* display:flex; */
    /* flex-direction: column; */
    margin: 0;
}
.qty {
    display: inline-block;
    border: 2px solid green;
    margin-left: 2.5em;
    border-radius: 10px;
    width: 65%;
    height: 32px;
}
.qty .count {
    color:green;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    /* padding: 0 2px; */
    min-width: 35px;
    height: 28px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    color: white;
    width: 40px;
    height: 28px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 40px;
    height: 28px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: green !important;
}
.plus:hover{
    background-color: green !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
