<!-- <mat-toolbar>
    <div class="site-identity">
        <a href="#"><img src="../../../../assets/images/logo1.png" /></a>

        <h1>Fast Cart</h1>
    </div>
    <div class="site-navigation">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <span> | </span>
        <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>

    </div>
    <app-auth-menu></app-auth-menu>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/images/logo1.png" />
            </a>
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Fast-Cart</a>

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products/new" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Add Product</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="search" [(ngModel)]="searchText" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>

            </ul>


        </div>
        <app-auth-menu></app-auth-menu>

    </div>
</nav>