img{
    width: 100px;
    height: 60px;
} 

nav{
    width: 100%;
    position: fixed;
    top: auto;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid yellowgreen;
}


.container {
    margin-right: 50em;
}

.navbar-brand {
    font-size: 30px;
    color: rgb(16, 92, 16);
}