<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-header"> 
            <a routerLink="/home" routerLinkActive="active"><img src="../../../../assets/images/Fast-Cart-logo.png" /></a>
        </div>
 
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" *ngIf="user?.isAdmin">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">All Products</a>
                </li>
            </ul>
        </div>
        <app-auth-menu></app-auth-menu>
    </div>

</nav>