.mydivoverlap{
    position: relative;
    z-index: 2;
}
.mybuttonoverlap{
    display: none;
}
.mydivouter:hover .mybuttonoverlap{ 
	display:inline-block;
    margin-left: 2em;
} 

.mydivouter {
    height: 60px;
    position: relative;
}

.price {
    position: absolute;
    right: 0;
    bottom: 0;
}
.quantity {
    float: left;
    font-size: large;
    font-style: italic;
}

img {
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 1em;
}