form {
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
}  

label {
    margin-top: 50px;
    position: relative;
    display: block;
}

button {
    width: 100%;
    margin: 20px 0 20px 0;
}

span {
    color: rgb(155, 12, 12);
    float: left;
    font-weight: bold;
    width: 100%;

}

h2 {
    color: rgb(28, 151, 17);
}