<div class="box">


    <form (submit)="login()">

        <mat-form-field>
            <mat-label>Username: </mat-label>
            <input matInput type="text" name="username" [(ngModel)]="credentials.username" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password: </mat-label>
            <input matInput type="password" name="password" [(ngModel)]="credentials.password" />
        </mat-form-field>

        <button mat-raised-button>Login</button>

    </form>

</div>