.order{
    height: 130%;
    width: 100%;
    position: relative;
}
div {
    width: 90%;
    margin: auto;
    text-align: center;
}

form {
    width: 65%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

input, label {
	width: 70%;
    box-sizing: border-box;
    height: 30px;
}
input {
    margin-bottom: 8px;
}

.divCheckout {
    margin-top: 1em;
    width: 50%;
    /* position: fixed; */
    border: 2px solid black;

}

h4 {
    color:green;
    float:left;
}

span {
    display: inline-block;
    margin-left: 10px;
    color: #bf2717;
}

h5 {
    color: #bf2717;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid black;

    text-align: center;
    padding: 8px;

  }
.header {
    display: grid;
    grid-template-columns: 40% 60%;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    height: 80px;
    z-index: 2;


}
.proceed {
    position: absolute;
    display: flex;
    
    width:25%;
    bottom: 10px;
    right: 0;
}
.proceed button {
    margin-left: 1em;
}
.back {
    width: 10%;
    position: absolute;
    bottom: 15px;
    left: 0;
}
  
 