.mybuttonoverlap{
    display: none;
}

.trbody:hover .mybuttonoverlap{ 
	display: inline-block;
}

h3 {
    color:rgb(18, 196, 18);
}

.order{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    flex:1;
}
div {
    width: 90%;
    margin: auto;
    text-align: center;
}

form {
    width: 65%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

input, label {
    position: relative;
	width: 70%;
    box-sizing: border-box;
    height: 30px;
    

}
input {
    margin-bottom: 15px;
}

.divCheckout {
    margin-top: 1em;
    width: 50%;
    border: 1px solid black;
    margin-bottom: 10em;
    margin-left: 10em;
}



span {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #bf2717;
}

h5 {
    color: #bf2717;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid black;

    text-align: center;
    padding: 8px;

  }

.header {
    display: flex;
    flex-direction: row;
    top: auto;
    position: relative;
    background-color: white;
    border-bottom: 2px solid rgb(18, 196, 18);

}

h4 {
    margin-top: 12px;
    color:rgb(18, 196, 18);
    position: absolute;
    left: 0;
}

#search {
    height: 100%;
    width: 400px;
}

.form-inline {
    background-color: white;
    position: relative;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    height: 80px;
    z-index: 2;


}
.proceed {
    position: absolute;
    display: flex;
    
    width:25%;
    bottom: 10px;
    right: 0;
}
.proceed button {
    margin-left: 1em;
}
.back {
    width: 10%;
    position: absolute;
    bottom: 15px;
    left: 0;
}
  
 