div {
    width: 80%;
    margin: auto;
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

input, label {
    margin: 20px auto;
	width: 100%;
    box-sizing: border-box;
    height: 30px;
    font-weight: bold;
}


h4 {
    color:green;
    float:left;
}
span {
    display: block;
    margin-bottom: 30px;
    color: #bf2717;
}

h5 {
    color: #bf2717;
}

table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid black;

    text-align: center;
    padding: 8px;

  }
.header {
    /* position: fixed;
    left:10px;
    top:30px; */
    display: grid;
    grid-template-columns: 40% 60%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    height: 80px;
}
  
 