<div class="Box">
    <div class="header">
        <h2>Registration for the Fast-Cart website</h2>

    </div>

    <form [formGroup]="productForm" (submit)="register()" #formInfo="ngForm">
        <p>Required fields are marked with *</p>
        <div class="form-row"> 
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" [formControl]="firstNameControl" placeholder="First Name*"
                    required (change)="changeOccurred()">
                <span *ngIf="firstNameControl.errors?.required && firstNameControl.touched">Please enter First Name</span>
                
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" [formControl]="lastNameControl" placeholder="Last Name*"
                    required (change)="changeOccurred()">
                <span *ngIf="lastNameControl.errors?.required && lastNameControl.touched">Please enter Last Name</span>

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" required [formControl]="idControl" (change)="changeOccurred()"
                    placeholder="ID*">
                <span *ngIf="idControl.errors?.required && idControl.touched">Please enter ID</span>

            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" required [formControl]="emailControl"
                    (change)="changeOccurred()" placeholder="Email*">
                    <span *ngIf="emailControl.errors?.required && emailControl.touched">Please enter email</span>
                    <span *ngIf="emailControl.errors?.pattern && emailControl.touched">Please enter valid email</span>

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <input type="password" class="form-control" required [formControl]="passwordControl"
                    (change)="changeOccurred()" placeholder="Password*">
                    <span *ngIf="passwordControl.errors?.required && passwordControl.touched">Please enter password</span>
                    <span *ngIf="passwordControl.errors?.pattern && passwordControl.touched">Password too short</span>


            </div>
            <div class="col-md-6 mb-3">
                <input type="password" class="form-control" required [formControl]="confirmPasswordControl"
                    (change)="changeOccurred()" placeholder="Confirm Password*">
                    <span *ngIf="firstNameControl.errors?.required && firstNameControl.touched">Please enter password</span>

            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" [formControl]="cityControl" required placeholder="City*">
                <span *ngIf="cityControl.errors?.required && cityControl.touched">Please enter city name</span>
            </div>

            <div class="col-md-3 mb-3">
                <input type="text" class="form-control" [formControl]="streetControl" required placeholder="Street*">
                <span *ngIf="streetControl.errors?.required && streetControl.touched">Please enter street</span>
            </div>
        </div>
        <span id="alert"></span>
        <button class="btn btn-success" type="submit" [disabled]="formInfo.form.invalid">Register</button>
    </form>
</div>