form {
    width: 250px;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

span {
    color: #a31919;
    position: relative; 
    margin-bottom: 5px;
}

.Box {
    text-align: left;
    height: 450px;
}
form{
    margin-top: 2em;
    width: 500px;
    margin-left: 3em;

}
.header {
    position: relative;
    left: 0;
    padding: 10px;
    background-color: forestgreen;
    color: white;
}