input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

span {
    color: #a31919;
    position: relative; 
    margin-bottom: 5px;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 600px;
    margin-left: 3em;
    align-items: center;
}
.header {
    width: 100%;
    position: relative;
    left: 0;
    padding: 10px;
    background-color: forestgreen;
    color: white;
}