<div class="auth-menu">

    <!-- <span >Hello </span>
    <span *ngIf="user"> {{user.firstName}} {{user.lastName}} </span>
    <span *ngIf="!user"> Guest </span> -->

    <ng-container *ngIf="!user">
        <span>Hello Guest</span>
        <span> | </span>
        <a routerLink="/login">Login</a>
        <span> | </span>
        <a routerLink="/register">Register</a>
    </ng-container>

    <ng-container *ngIf="user">
        <span>Hello {{user.firstName}} {{user.lastName}}</span>
        <span> | </span>
        <a routerLink="/logout">Logout</a>
    </ng-container>

</div>
