<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <nav>
                <button class="cat-nav active" value={{c._id}} *ngFor="let c of categories"
                    (click)="showProducts($event)">{{c.name}}</button>
            </nav>
                <form class="form-inline mr-sm-3 my-lg-0">
                    <input class="form-control mr-sm-6" name="search" type="search" placeholder="Search in FastCart"
                        (input)="searchProducts($event)">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        </ul>

        <div class="row">
            <div class="col-md-2" *ngFor="let p of products">
                <app-product-card [product]="p" [user]="user" [cart]="cart"></app-product-card>
            </div>
        </div>
    </div>

    <div *ngIf="!user?.isAdmin" class="col-md-3">
        <app-shopping-cart></app-shopping-cart>
    </div>
    <div *ngIf="user?.isAdmin" class="col-md-3">
        <app-add-product></app-add-product>
    </div>
</div>