nav {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.cat-nav {
    background-color: white; 
    color: gray; 
    border: 0.5px solid darkgray;
    width: 100px;
    margin-right: 0.9px;
}

 form {
     margin-left: 4em;
     
 } 

 .cat-nav:hover {
    background-color: green;

    color: white;
  }

 .cat-nav:focus {
    background-color: green;

    color: white;
  }
