#collapseOne{
    overflow-y: scroll !important;
    max-height: 700px !important;
}

.rotated {
    transform: rotate(180deg);
  }
#checkout {
    float:right;
}
.card-header {
    color:white;
    display: inline-block;
}

.header-details{
    float: left;
}
