.home1{
    /* display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;             
    justify-content: space-between; */
    background-color: white; 
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 20% 60%;
    gap: 2px;
}
div {
    padding: 5px;
    margin: 10px;
}
.home{
    height: 100%;
}


img{
    width: 600px;
    height:310px;
} 

p {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 