<div class="container">
    <!-- <div class="row">
        <div class="col-sm-5">
            <p>Sign in or sing-up now! </p>

            <app-login></app-login>
        </div>

        <div class="col-sm-6">
            <img src="../../../../assets/images/home5.jpeg" />
        </div>
    </div> -->
    <div class="container px-40">
        <div class="row gx-6">
            <div class="col-6">
                <div class="p-3 border bg-light">
                    <p>Sign in or sing-up now! </p>

                    <app-login></app-login>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 border bg-light">
                    <img src="../../../../assets/images/home5.jpeg" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img src="../../../../assets/images/home2.jpg" />
        </div>
        <br>
        <div class="col-sm-6">
            <p>New week begin in supermarket,<br>you order online and the delivery on us </p>
        </div>
    </div>


    <div class="home1">
        <div>
            <!-- <p>Available products in our store - {{products.length}}</p> -->
        </div>
        <div>
            <img src="../../../../assets/images/home3.png" />
        </div>

    </div>
</div>