<div class="parallax">
    <div class="parallax-container">
        <div class="parallax-content">
            <div *ngIf="user == null">
                <h3>Order Online Today!</h3>
                <h5>Join us now</h5>
                <app-login></app-login>
            </div>
            <div *ngIf="user != null">
                <h3>Welcome {{user.firstName}} {{user.lastName}}</h3>
                <div *ngIf="!cart?.isPaid && cart">
                    <span>You have open cart from <strong>{{cart.date}}</strong></span>
                    <button class="btn btn-success" (click)="handleResumeShopping()" >Resume Shopping</button>
                </div>
                    <span *ngIf="latestOrder && cart?.isPaid">Your last purchase was on <strong>{{latestOrder.date}}</strong></span>
                    <span *ngIf="!cart && !latestOrder">Welcome to Fast-Cart</span>
                    <button class="btn btn-success" *ngIf="cart?.isPaid || !cart" (click)="addCart()">Start Shopping</button>

            </div>
        </div>
    </div>
</div>